
.container-fluid {
	padding: 0;
}

.navbar {
	height: 86px;
}

.navbar-default {
	background-color: white;
}

.navbar-default .navbar-nav, .mr-auto > .open > a,
.navbar-default .navbar-nav, .mr-auto > .open > a:hover,
.navbar-default .navbar-nav, .mr-auto > .open > a:focus {
	color:#000000;
	background-color: #ffffff;
	text-decoration: none;
}



.disabled_cor{
	color: white;
}

.clear {
	clear: both;
}

.row {
	margin: 10px;
}

.popular {
	font-size: 1.9rem;
    font-weight: 600;
    font-style : italic;
	padding-top: 150px;
    padding-bottom: 10px;
}

footer {
	background-color: black;
	color : white;
}

.select {
	margin-left: 130px; 
	
}
#rcorners, #rcorners1 {
	border-radius: 5px;
	background: white;
	border: 1px solid #363e52;
	padding: 15px 0;
	width: 150px;
	height: 30px;
	color: #363e52;
	text-align: center;
	margin: 2px;
}

#rcorners1{
	height: 33px;
	width: 305px;
}

input[type="date"] {
  position: relative;
 
}

input[type="date"]::before{
	content:attr(data-placeholder);
	width:100%;
	color: #363e52;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {display:none}

input[type="date"]::-webkit-calendar-picker-indicator {
      background-size: 20px;
}


#rcorners2 {
	border-radius: 5px;
	background: white;
	border: 1px solid #363e52;
	padding: 9px 106px;
}

.carousel-item img {
	height: 700px;
	width: 500px;
	
}

.box1 {
	color: #ffffff;
	margin-left: 100px;
	
}

 .box{
      height: 350px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row; /*수평 정렬*/
      align-items: center;
      justify-content: center;
      background-color: #040e27;
      margin-top: 1px;
    }
    
  
 .search_btn {
 margin-top: 10px;
 } 



.login {
	display : block;
	margin : 0 auto ;
	width: 300px;
}

.login p {
	font-size: 12px;
	font-weight: bold;
}

.login input {
	width: 300px;
}

#buttons a {
	font-size: 14px;
}

.contract {
	text-align : center;
	display : block;
	margin : 0 auto;
	width: 700px;
	font-size: 15px;
}
.join-title{
	text-align : center;
	display : block;
	margin : 0 auto;
	width: 800px;
	font-size: 45px;
	font-weight: bold;
}

.join-form {
	text-align : left;
	display : block;
	margin : 0 auto;
	width: 800px;
	font-size: 15px;
}

.join-form input {
	margin : 8px 0;
}

.join-form #buttons {
	text-align : center;
}

.detail-center {
	text-align : left;
	display : block;
	margin : 0 auto;
	width : 1100px;
	font-size: 15px;
}

.detail-center img {
	height: 400px;
}
.detail-center h4{
    padding-top: 1px;
    padding-bottom: 5px;
	font-weight: 600;
}

.price{
	font-size: 18px;
	font-weight: 600;
}

.detail-center .login-btn{
	width : 80px;
}
.address {
	font-size: 13px;
	font-weight: 500;
}

}
.parea {
	color : red;
	font-size: 13px;
	font-weight: 500;
}





#sub_menu {
	width: 250x;
	float: left;
	margin: 20px 0;
}

#sub_menu ul {
	margin: 20px 0 0 16px;
	list-style: none;
}

#sub_menu a {
	text-decoration: none;
	color: black; font-family: Arial, Helvetica, sans-serif;
	font-weight:bold; font-size:16px;
	display: block;
	height: 15px;
	width: 160px;
	padding: 7px;
	background-repeat: no-repeat;
	background-position: right center;
}

#sub_menu a:hover {
	background-repeat: no-repeat; 
	background-position: right center;
	color: #F90;font-weight:bold; font-size:16px;
	font-family: Arial, Helvetica, sans-serif;
}


#sub_menu #rcorners, #sub_menu #rcorners1 {
	border-radius: 2px;
	background: white;
	border: 1px solid #ff8080;
	padding: 15px 0;
	width: 70px;
	height: 30px;
	color: #ff8080;
	text-align: center;
	margin: 2px;
	font-size: 13px;
}

#sub_menu #rcorners1,#sub_menu #rcorners2 {
	border-radius: 2px;
	text-align: center;
	font-size: 13px;
	height: 33px;
	width: 150px;
    margin-top: 2px;
    border: 1px solid #ff8080;
	
}

#sub_menu .search_btn {
	background-color: #ff8080;
	border: 1px solid #ff8080;
}

.product-center {
	text-align : center;
	display : block;
	margin : 0 auto;
	width : 1100px;
	font-size: 15px;
}


#sub_menu #rcorners2{
    padding-left: 33px;
    padding-top: 6px;
}

.media {
	border : none;
	border-radius: 5px;
}

.media-left img {
	width : 100%;
	height : 100%;
}

.media-right {
	display : block;
	margin : auto 0 ;
	color : #ff4a52;
	font-weight: 600;
}

.media-right p {
	margin : 0 ;
}

.panel-center {
	text-align : center;
	display : block;
	margin : 0 auto;
	width : 700px;
	font-size: 15px;
}

.media-heading{
	font-weight : 700;
	font-size: 15px;
	margin : 0;
}

.panel a { 
	color: inherit; 
	text-decoration:none; 
	} 
	
.find input{
	margin: 0px;
}	

.qna-center {
	text-align : center;
	display : block;
	margin : 0 auto;
	width : 900px;
	font-size: 15px;
}

.mypage-left{
	text-align : left;
	display : block;
	margin : 0 auto;
	width : 550px;
	font-size: 15px;
}

.mypage-left table tr {
	height:50px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.mypage-left table tr th{
	padding-left:20px;
	background: #f4f4f4;
}

.mypage-left table tr td {
	padding-left:20px;
}


.pagination {
	text-align : center;
	display : block;
	margin : 0 auto;
	width : 200px;
	font-size: 15px;
	color: black;
}

.size {
    padding-top: 2px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    top: -10;	
}

.make-trip-tr table tr th {
	border-top: 1px solid #ff979c;
	border-bottom: 1px solid #ff979c;
	background-color: #fff2f2;
	height : 35px;
	margin: 5px 0;
	font-size: 14px;
}

.make-trip-tr span {
	display: inline-block;
	padding: 5px 0;
	font-size: 13px;
	font-weight: bold;
}

.make-trip-tr img {
	margin-bottom: 10px;
}


.save-trip-tr table tr th {
	border-top: 1px solid #ff979c;
	border-bottom: 1px solid #ff979c;
	background-color: #fff2f2;
	height : 50px;
	margin: 10px 0;
	font-size: 16px;
}

.save-trip-tr span {
	display: inline-block;
	padding: 10px 0;
	font-size: 17px;
	font-weight: bold;
}

.save-trip-tr img {
	margin-bottom: 20px;
}

.nav-center {
	text-align : center;
	display : block;
	margin : 0 auto;
	width : 1300px;
	font-size: 15px;
}

